.container {
  width: 100vw;
  height: 100vh;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.password {
  width: 200px;
  height: 40px;
  padding: 2px 5px;
}

.btn-next {
  width: 100px;
  height: 40px;
}
